body{
	font-family:"Arial",sans-serif;
	font-size:14px;
	color:#fff;
	background:#333;
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
}


.container_slider{
	position:relative;
	
	width: 100%;
	height: 70vh;
	max-height: 500px;
	max-width:1000px;
	
	
	margin: 0 auto;
	z-index:-2;
	
	background-color:white ;
	
	overflow:hidden;
	
	
	border:#666 solid 1px;
}


.image_display{
	position: absolute;
	
	
	

	width:100%;
	height: inherit;
	
	background-repeat: no-repeat; 
	
	background-size: cover;
	background-attachment: fixed;
	
	text-align:right;
	font-size: 20px;
	
	text-shadow: 1px 3px 5px #000;
	
}

