/* Style fle- CSS */
/*v1.3*/

/*Entire page attributes*/
.body{
	background-color: #F0F7FA;
	//background-color: #8F8888;
	
	border-bottom: 5px solid green;
	
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	
	font-size: 100%;
	
}
/*Page Title*/
.body >h1{
	color: back;
	font-size: 2.5em;
	border-bottom: 3px solid rgba(0,0,10,.2);
}
 br {
	line-height: 100%;
}
.space{
	width: 100%;
	height: 20px;
}
.impact{
	font-weight: bold;
	font-size: 110%;
	
	
}
.depact{
	
	font-size: 90%;
}
.month{
	
	line-height: 100px;
	text-align: center;
	font-size: 3.5em;
	color : White;
	margin-left: 10px;
}
#calendar{
	
}
/*styles the outer layer of the calendar*/
.calendar_outer{
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
	

	
}

/*calender title*/
.calendar_outer > h1{
	text-align: center;
	height: 120px;
	
	font-size: 2.8em;
	line-height: 120px;
	margin: 0;
	
	color: white;
	text-shadow: 2px 2px 10px black;
	
	background-color: rgba(0,0,0,.8);
	border-radius:  20px 20px 0px 0px;
	box-shadow: 0px 1px 5px black;
}


/*calender outer*/
#calendar_inner{
	
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
	
	box-shadow: 0px 1px 5px black;
	border-radius:  0px 0px 20px 20px;
	background-color: rgba(255,255,255,1);
	padding-bottom: 50px;
	

}

/*calender entries*/
.calendar_entries{
	
	
	height: 100px;
	margin: 0 auto;
	
	
	background-color: rgba(227,118,118,1);
	border: 2px solid white;
	border-radius: 0px;
	
	

}
/*Date*/
.calendar_entries_left{
	
	float:left;
	

	width: 20%;
	height: 100px;
	line-height: 120%;
	
	
	
	color: white;
	font-family: 'Anton', sans-serif;
	
	
	font-size: 2.5em;
	text-align: center;
	border-right: 5px solid white;
	
}
/*info*/
.calendar_entries_right{
	float: right;
	
	width: 78%;
	height: 100px;
	
	margin-left: 5px;
	
	overflow: auto;
	color: white;
	
	line-height: 135%;
	
	font-size: 1.15em;
	text-align: left;
	
}


/* Ubuntu font family*/
.font_ubuntu{
	font-family:'Ubuntu', sans-serif;
	
}






/*Responsive Styles small screen*/
@media screen and (max-width : 760px) and (min-width: 412px){
	body{
		
	}
	
	/*calender outer*/
	#calendar_inner{

		padding-bottom: 20px;
		

	}
	
	/*calender entries*/
	.calendar_entries{
		
		font-size: 85%;
		height: 90px;


	}

	/*Date*/
	.calendar_entries_left{

		width: 23%;
		border-right: 5px solid white;
		height: 90px;
		
	}
	
	/*info*/
	.calendar_entries_right{
		float: right;
		
		width: 74%;

		border: 0;
		
		text-align: left;
		height: 90px;
		
		
		
	}

}
/*Responsive Styles phones*/
@media screen and (max-width : 412px){
	body{
		
	}
	.calendar_outer {
		min-width: 310px;
	}
	/*calender title*/
	.calendar_outer > h1{
		text-align: center;
		height: 100px;
		
		font-size: 2.5em;
		line-height: 100px;
	}
	/*calender outer*/
	#calendar_inner{

		padding-bottom: 20px;
		min-width: 310px;
		

	}
	
	/*calender entries*/
	.calendar_entries{
		
		font-size: 70%;
		height: 90px;
		min-width: 300px;


	}

	/*Date*/
	.calendar_entries_left{

		width: 18%;
		border-right: 5px solid white;
		height: 90px;
		line-height: 150%;
		
		
		
	}
	
	/*info*/
	.calendar_entries_right{
		float: right;
		
		width: 79%;

		border: 0;
		margin:0;
		text-align: left;
		height: 90px;
		
		
		
	}

}

}