.super{
	font-family: arial;
}
.font_tiny{
	font-size: .7em;
	font-family: arial;
}
.container_slider{
	
	width: auto;
	
	max-width: 1000px;
	
	
	padding: 10px;
	padding-bottom: 40px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0);
	
	overflow: hidden;
		
}

.container_slider>h1{
	
	font-size: 4em;
	text-align: center;
	margin-top: 0px;
	padding-top: 40px;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.container_slider>.logo{
	display: block;
	margin: 0 auto;
	padding:0px;
	
}


.container_slider>.menu_containter{
	list-style-type:none;
    padding:0px;
	display: table;    
	margin: 0 auto;
	
	
	
	
}


/*Create a horizontal list with spacing*/
.container_slider>.menu_containter li{
	margin-top: 60px;
	display: incline-block;
	
	float: left;
}
/*Create a horizontal list with spacing*/
.container_slider>.menu_containter li a{
	padding-right:10px;
	padding-left:10px;
	color: white;
	text-shadow: 0px 0px 10px black;
	text-decoration:none;
	text-align: center;
	font-size: 2em;
		
}

.container_slider>.menu_containter li a:hover{
	color: black;
}


.container_slider>button{
	margin-top: 30px;
	width: 200px;
	height: 50px;
	font-size: 1em;
	background-color: white;
	border-radius: 6px;
	
}
.container_slider>button:hover{
	color: white;
	background-color: rgba(0,0,0,0);
	
}
.container_slider>p{
	
	font-size: 1.5em;
	color: white;
	text-shadow: 0px 0px 10px black;
	text-align: center;

	
}

.background{
	
	height: 100vh;
	width: 100vw;
	
	
	background-color: black;
	
	position: absolute;
	z-index : -1;
	top: 0;
	left:0;
	overflow: hidden;
	
	
}

.background>.img_container{
	position: relative;
	height: inherit;
	width: inherit;
	
	
}
.background>.img_container>img{
	
	position: absolute;
	
	top:0;
	left:0;
	
	
}



.fadeIn {
	opacity: 0;
	
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
           
	opacity: 0.65;
	
}

@keyframes fadein {
    0% 	 { opacity: 0; }

    100% { opacity: 0.65; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	0% 	 { opacity: 0; }
    100% { opacity: 0.65; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% 	 { opacity: 0; }
    100% { opacity: 0.65; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% 	 { opacity: 0; }
    100% { opacity: 0.65; }
}

.fadeOut {
	opacity: 0.65;
	
    -webkit-animation: fadeout 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 3s; /* Firefox < 16 */
        -ms-animation: fadeout 3s; /* Internet Explorer */
         -o-animation: fadeout 3s; /* Opera < 12.1 */
            
	opacity: 0;		
	
}

@keyframes fadeout {
    from { opacity: 0.65; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0.65; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0.65; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0.65; }
    to   { opacity: 0; }
}



@media screen and (max-width : 800px) and (min-width: 430px){
	.super{
		font-size: 89%;
	}
	.font_tiny{
		font-size: .5em;
	}
	

}


@media screen and (max-width : 430px){
	.super{
		font-family: arial;
		
	}
	.font_tiny{
		font-size: .7em;
	}

	.container_slider, .background{
		
		min-height: 0;
		
	}

	.container_slider>h1{
		padding-top:0px;
		font-size: 3.2em;
		
	}

	.container_slider>.logo{
		width: 250px;
	}
	.container_slider>.menu_containter{
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.container_slider>.menu_containter li{
		margin-top: 20px;
		display: list-item;
		overflow: hidden;
		float: left;
		
		
	}
	.container_slider>.menu_containter li a{
		font-size: 1.5em;
		padding:5px;
	}
	.container_slider>button{
		
		width: 120px;
		height: 50px;
		font-size: .8em;
		
	}
	.container_slider>p{
		
		font-size: .7em;
		color: white;
		text-shadow: 0px 0px 10px black;

		text-align: center;
		margin-top:0px;
		
	}
}
@media screen and (max-width : 350px){
	.font_tiny{
		font-size: .5em;
	}
}
@media all and (min-width:1440px) {
  
	.super{
		font-size:130%;
	}
	
}
@media all and (min-width:2200px) {
  
	.super{
		font-size:150%;
	}
	.container_slider>button{
		
		width: 180px;
		height: 100px;
	
		
	}
	
}
